{% extends "base.html" %}

{% block page_driver %}
    <ul>
        <li><a class="active" href="#top">Top</a></li>
        <li><a href="#passions">Passions</a></li>
        <li><a href="#skills">Skills</a></li>
    </ul>
{% endblock %}

{% block body %}
<div class="page active">
	<div class="left">
		<a class="d-none" name="top"></a>
		<h1>Hi, I'm Tim</h1>
		<p>I've been developing software for over 7 years. I spent many years working with web technologies, but by no means is this the limit of my skills. My language of choice would be python, but I am experienced in many languages. You can see a list in the skills section. If you need a skilled developer for your team you please contact me. Contact information is available on the contact page.</p>
	</div>
	<div class="right">
	</div>
</div>

<div class="page">
	<div class="left">
		<a class="d-none" name="passions"></a>
		<h1>Passions</h1>
		<h2>Technology and Science</h2>
		<p>I've always been a nerd. I enjoy programming, astronomy, and reading (Hard SciFi is my genre of choice). I often code for pleasure which is what makes me a great developer. Always be coding. </p>
		<p>The allure to development has always been the constant challenges. The industry moves fast and if you arent participating it is easy to get lost. I have a particular fondness for designing applicaitons to scale out. That challenge of doing this effectively keeps me very engaged.</p>
	</div>
	<div class="right">
	</div>
</div>

<div class="page">
	<div class="left">
		<a class="d-none" name="skills"></a>
		<h1>Skills</h1>
		<p>My experience has allowed me to work with many languages, tools, and concepts.</p>
		<ul class="skill-list">
			<li><div class="Expert Skill"><span>Python</span>Expert</div></li>
			<li><div class="Expert Skill"><span>Java</span>Expert</div></li>
			<li><div class="Expert Skill"><span>PHP</span>Expert</div></li>
			<li><div class="Advanced Skill"><span>Docker</span>Advanced</div></li>
			<li><div class="Advanced Skill"><span>Web</span>Advanced</div></li>
			<li><div class="Intermediate Skill"><span>Scala</span>Intermediate</div></li>
		</ul>
	</div>
	<div class="right">
	</div>
</div>
{% endblock %}