{% extends "base.html" %}

{# Disabled the page driver #}
{% block page_driver_icon %}
{% endblock %}
{% block page_driver %}
{% endblock %}

{% block body %}
<div class="page active">
	<div class="left">
		<a class="d-none" name="contact"></a>
		<h1>Contact Me</h1>

		<p>For both business and leisure, I can be reached at the email address below. You can also find me on LinkedIn.</p>
		<p>T.Osborne1215@gmail.com</p>
		<div><!-- Link to social media --></div>
	</div>
	<div class="right">
	</div>
</div>
{% endblock %}